In [1]:
from imutils.paths import list_files
import pandas as pd
import os, re

In [58]:
ROOT_PATH    = '/home/jovyan/project/MidnightTable'
DATASET_PATH = f'{ROOT_PATH}/TableSeekTag/src/data/zomato'

- 스크래핑 한 데이터에 필요없거나 길이가 너무 긴 데이터들이 존재하여 걸러주었습니다 e.g) \n
- 스크래핑 된 데이터의 23번째 줄부터 데이터가 고정되어 있지 않아, 일부 전처리 과정을 거쳤습니다.
- 아래의 두 이미지를 비교해보면 22번째 줄 까지는 고정된 내용임을 알 수 있지만 왼쪽 이미지의 23번째 줄은   
  cuisine이 있는 반면, 오른쪽 이미지의 23번째 줄은 알 수 없는 숫자가 들어가 있음을 보입니다.
  
<div class='row'>
    <div style="width:40%; float:left;">
        <img src='img/zomato/go-jeong1.png'  alt='이미지 없음..'></img>
    </div>
    <div style="width:40%; float:left;">
        <img src='img/zomato/go-jeong2.png' alt='이미지 없음..'></img>
    </div>
</div>

In [69]:
## 멋져보이고 싶어서 만든 굳이 함수로 안 만들었어도 되는 함수들..
remove_ent = lambda text: text.replace('\n', '')
read_text  = lambda text_file: open(text_file, 'r').readlines()

In [72]:
text_files = sorted(list_files(f'{DATASET_PATH}/scraping_datas/'))
csv        = pd.read_csv(f'{DATASET_PATH}/HyderabadResturants.csv')

In [76]:
csv[['names', 'cuisine']]

,names,cuisine
0,Sahara Bakers,"Chinese, Bakery, Sichuan, Pizza, Burger"
1,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages"
2,Subbaiah Gari Hotel,"South Indian, Andhra, Mithai"
3,Paradise Biryani,"Biryani, Kebab, Desserts, Beverages"
4,Pista House Bakery,"Fast Food, Sandwich, Pizza, Burger, Wraps, Rol..."
...,...,...
652,Dr Cakes,"Bakery, Desserts"
653,Shahi Naan,North Indian
654,Combosthalam By Phulkaas,"North Indian, Chinese"
655,Pachadis By Phulkaas,South Indian
656,Tasim,"Chinese, Momos"